body {
  margin: 0;
}

/* LINKS */
a {
  color: black;
  text-decoration: none;
}


/* #header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8fc6e2;
}

#header-title {
  display: flex;
  margin-left: 0.5%;
  text-align: center;
}

#header-title a {
  display: flex;
  margin-left: 0.5%;
  align-items: center;
}

#header-options {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84d7d3;
  margin-right: 2%;
  height: 40px;
  width: 350px;
}

#header-options div {
  padding: 10px;
}

#user {
  display: flex;
  align-items: center;
}

#user-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
}

#user-name {
  width: 150px;
}

#user-data .profile-pic {
  width: 40px;
  height: 40px;
  margin-right: 1%;
}


/* GENERAL COLUMN STUFF */
#columns {
  display: flex;
  min-height: 91.5vh;
}

.column {
  background-color: #8fc6e2;
  padding: 20px 0;
  margin: 0.25%
}

.column-title-principal {
  font-weight: bolder;
  text-align: center;
  margin: 1% 1% 5% 1%;
}

.column-title-secondary {
  font-size: 2vw;
  margin: 5%;
  font-weight: bold;
  text-align: center;
}

#col-title-left{
  text-align: left;
}


/* LEFT COLUMN MENU */
.course-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

/* INDEX.HTML CONTENT */
.subject {
  display: flex;
  flex-direction: column;
}

.subject-title {
  text-align: left;
  padding: 0px 10px 10px 10px;
  margin: 0;
}

.subject-intro {
  display: flex;
}

.subject-content {
  display: flex;
  flex-direction: column;
}

.subject-content p {
  text-align: justify;
  margin: 1% 2% 1% 2%;
}

.video-content {
  text-align: justify;
}

.subject-image {
  margin-left: auto;
  margin-right: auto;
}

.video {
  margin: 1% 1% 1% 2%;
}

.subject-video {
  display: flex;
}


/* students-list.HTML CONTENT */
#students-list {
  display: flex;
  flex-direction: column;
}

.student p {
  margin: 2% 0;
}

.name::before{
  content: "Nombre: ";
}

.surname::before{
  content: "Apellido: ";
}

.email::after{
  content: "@alumnos.uc3m.es";
}

.profile-pic {
  margin: 0 2% 2% 2%;
  float: left;
}

.student{
  margin: 2%;
}

.message-pic{
  cursor: pointer;
}


/* SUBJECT-FORUM.HTML CONTENT */
.forum-subject {
  font-family: sans-serif;
  background-color: lightgray;
  display: flex;
  grid-gap: 1%;
  align-items: center;
  margin: 1%;
  padding: 1%;
  cursor: pointer;
}

.forum-subject-title {
  width: 54%;
}

.forum-subject-info {
  width: 45%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.forum-subject div {
  align-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.forum-subject-count {
  width: 46%;
  margin-right: 0.5%;
}

.forum-subject-date {
  width: 35%;
  margin-right: 0.5%;
  text-align: right;
}

.forum-subject-time {
  width: 18%;
  text-align: right;
}

.forum-subject-count::after {
  content: " mensajes";
  white-space: pre;
}
form {
  align-items: center;
  justify-content: center;
}

textarea{
  display: block;
  margin: 0 auto 0 auto;
  width: 97%;
}

#forum-subject-send-button{
  margin: 1%;
}

.forum-message {
  display: flex;
  align-items: start;
  margin: 2%;
  font-size: 25px;
}

.forum-message-icon {
  width: 5vw;
  margin: 0 2% 2% 2%;

}

.forum-message-date{
  margin: 0 0 0 auto;
}

/* STUDENT-GRADES.HTML CONTENT */
.student-grade-table {
  font-family: sans-serif;
  margin: 1%;
  background-color: white;
  width: 98%;
}

.student-grade-table th {
  background-color: lightgray;
  padding: 5px;
  text-align: center;
}

.student-grade-table td {
  background-color: lightgray;
  padding: 5px;
  text-align: right;
}

#table-download-button {
  margin: 1%;
}

/* student-subjects */
#student-subjects{
  font-size: 30px;
}

#student-subjects li{
  margin: 2%;
}

/* FOOTER */
footer {
  display: none;
}


/* DESKTOP */
@media screen and (min-width: 769px) {

  /* #header */
  #header {
    margin: 0.5% 5% 0.25% 5%;
  }

  #dropdown {
    display: none;
  }


  /* GENERAL COLUMN STUFF */
  #columns {
    margin: 0 4.75% 0.25% 4.75%;
  }

  #col-center {
    width: 50%;
  }

  #col-left {
    width: 24.5%;
    font-size: 2vw;
  }

  #col-right {
    width: 24.5%;
  }

  .column-title-principal {
    font-size: 3vw;
  }


  /* LEFT COLUMN MENU */
  #tablet-options {
    display: none;
  }

  .course-menu {
    margin: 5%;
  }

  #col-right p {
    font-size: 1.2vw;
    margin: 3%;
  }

  /* INDEX.HTML CONTENT */
  .subject p {
    font-size: 1.2vw;
  }

  .subject-title {
    font-size: 2vw;
  }

  .subject-intro {
    margin: 2%;
  }

  .subject-image {
    display: block;
    width: 20vw;
    height: 15vw;
  }

  .subject-video p {
    margin-top: 0;
  }

  .video-content {
    margin: 1% 2% 1% 1%;
  }

  .video {
    width: 27.77vw;
    height: 15.63vw;
  }


  /* students-list.HTML CONTENT */
  .profile-pic {
    width: 12vw;
  }

  .message-pic {
    width: 2vw;
  }

  .student p {
    font-size: 2vw;
  }

  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-subject div {
    font-size: 1.25vw;
  }

  .forum-subject-count {
    text-align: right;
  }


  /* STUDENT-GRADES.HTML CONTENT */
  .student-grade-table{
    font-size: 2vw;
  }


  /* FOOTER */
  footer {
    display: flex;
    width: 100%;
    height: 3vh;
    background-color: black;
    margin-top: 2vh;
  }

 footer div {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: lightgray;
   margin-left: 1px;
 }

  #university-page-link {
    width: 25%;
  }

  #copyright {
    width: 50%;
  }

  #privacy-notice {
    width: 25%;
  }
}

/* TABLET */
@media screen and (min-width: 601px) and (max-width: 768px) {

  /* #header */
  #header {
    margin: 0.5% 2% 0.25% 2%;
  }

  #dropdown {
    display: none;
  }

  #header-options {
    display: none;
  }


  /* GENERAL COLUMN STUFF */
  #columns {
    margin: 0 1.75% 0.25% 1.75%;
  }

  #col-right {
    display: none;
  }

  #col-left {
    font-size: 2.5vw;
    width: 19.5%;
  }

  #col-center {
    width: 80%;
  }

  .column-title-principal {
    font-size: 4.5vw;
  }

  #col-title-left{
    font-size: 3vw;
    font-weight: bolder;
  }

  /* LEFT COLUMN MENU */
  #tablet-options {
    display: block;
  }

  .course-menu {
    justify-content: space-between;
    margin: 5% 5% 10% 5%;
  }


  /* INDEX.HTML CONTENT */
  .subject-title {
    font-size: 4vw;
    margin-top: 3%;
  }

  .subject p {
    font-size: 3vw;
  }

  .subject-image {
    display: none;
  }

  .video {
    width: 72.5vw;
    height: 40.78vw;
    margin-left: auto;
    margin-right: auto;
  }

  .subject-video {
    flex-direction: column-reverse;
  }

  .video-content {
    margin: 1% 2% 1% 2%;
  }

  /* students-list.HTML CONTENT */
  .profile-pic {
    width: 20vw;
  }

  .message-pic {
    width: 4vw;
  }

  .student p {
    font-size: 3vw;
  }

  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-subject div {
    font-size: 2vw;
  }

  .forum-subject-count {
    text-align: right;
  }


  /* STUDENT-GRADES.HTML CONTENT */
  .student-grade-table {
    font-size: 2vw;
  }


}


/*MOBILE*/
@media screen and (max-width: 600px){

  /* #header */
  #header {
    margin: 0.5% 2% 0.25% 2%;
  }

  #dropdown {
    display: inline;
  }

  #dropbtn {
    width: 50px;
    align-self: flex-start;
    margin-left: 5%;
    cursor: pointer;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #84d7d3;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin: 2%;

  }

  #dropdown-content .course-menu {
    margin: 5% 3% 5% 5%;
  }

  #header-options {
    display: none;
  }

  #page-logo {
    display: none;
  }

  #header {
    justify-content: normal;
  }


  /* GENERAL COLUMN STUFF */
  #columns {
    margin: 0 1.75% 0.25% 1.75%;
  }

  #col-right {
    display: none;
  }

  #col-left {
    display: none;
  }

  #col-center {
    width: 99.5%;
  }

  .column-title-principal {
    font-size: 6vw;
  }


  /* INDEX.HTML CONTENT */
  .subject-title {
    font-size: 6vw;
    margin-top: 3%;
  }

  .subject p {
    font-size: 5vw;
  }

  .subject-intro p {
    display: none;
  }

  .subject-image {
    display: none;
  }

  .subject-video {
    flex-direction: column-reverse;
  }

  .video-content {
    margin-left: 10px;
  }

  .video-description {
    display: none;
  }

  .video {
    width: 89.4vw;
    height: 50.29vw;
    margin-left: auto;
    margin-right: auto;
  }


  /* students-list.HTML CONTENT */
  #students-list {
    font-size: 4vw;
  }

  .profile-pic {
    width: 25vw;
  }
  .message-pic {
    width: 4vw;
  }



  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-subject {
    flex-direction: column;
  }

  .forum-subject-title {
    width: 100%;
  }

  .forum-subject-info {
    width: 100%;
  }


  /* STUDENT-GRADES.HTML CONTENT */
  .student-grade-table {
    font-size: 3vw;
  }
}
