a {
    color: black;
    text-align: center;
    cursor: pointer;
}

#login-error {
    display: none;
    color: red;
}

#forms {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#login, #register {

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;
    margin: auto;
}

#login {
    padding: 20vh;
    min-height: 55vh;
}

#register{
    padding: 50px;
}

.error {
    color: red;
    margin: 1% 1% 1% 0;
}

#form-login{
    margin-top: 30px;
}

.form-button:hover {
    background-color: black;
    color: white;
}

/* LOGIN */
form {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

input, select{
    margin: 5px 0 15px 0;
    padding: 0;
    border: 0;
    height: 30px;
    text-align: center;
    width: 100%;
}

.form-button{
    font-size: 12pt;
    margin: 5px 0 15px 0;
    height: 35px;
    width: 100%;
}

label::after{
    content: ":";
}

label {
    font-size: 12pt;
}
