a {
    color: black;
    text-align: center;
}

#login-error {
    display: none;
    color: red;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#login, #register {

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: turquoise;
    margin: auto;
}

#login {
    padding: 50px;
    min-height: 30vh;
}

#register{
    padding: 50px;
}

.error {
    color: red;
    margin: 1% 1% 1% 0;
}

#form-login{
    margin-top: 30px;
}

button:hover{
    background-color: black;
    color: white;
}

/* LOGIN */
form {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

input, select{
    margin: 5px 0 15px 0;
    padding: 0;
    border: 0;
    height: 30px;
    text-align: center;
    width: 100%;
}

button{
    font-size: 12pt;
    margin: 5px 0 15px 0;
    height: 35px;
}

label::after{
    content: ":";
}

label {
    font-size: 12pt;
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    /* FOOTER */
    footer {
        display: flex;
        width: 100%;
        height: 20px;
        background-color: black;
        margin-top: 10px;
    }

    footer div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        margin-left: 1px;
    }

    #university-page-link {
        width: 25%;
    }

    #copyright {
        width: 50%;
    }

    #privacy-notice {
        width: 25%;
    }
}

/* TABLET */
@media screen and (min-width: 601px) and (max-width: 768px) {
    footer {
        display: none;
    }
}

/*MOBILE*/
@media screen and (max-width: 600px) {
    footer {
        display: none;
    }
}