/* LINKS */
a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* HEADER */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2196F3;
  margin: 0.5%;

}

#header-title {
  display: flex;
  margin-left: 0.5%;
  text-align: center;
}

#header-title a {
  display: flex;
  margin-left: 0.5%;
  align-items: center;
}

#header-options {
  display: flex;
  background-color: turquoise;
  margin-right: 0.5%;
}

#header-options div {
  padding: 10px;
}


/* GENERAL COLUMN STUFF */
#columns {
  display: flex;
  min-height: 91.5vh;
  margin: 0.25%;
}

.column {
  background-color: #2196F3;
  padding: 20px 0;
  margin: 0.25%
}

#column-title-principal {
  font-weight: bolder;
  text-align: center;
  margin: 1%;
}

.column-title-secondary{
  font-size: 2vw;
  margin: 5%;
  font-weight: bold;
  text-align: center;
}

#col-title-left{
  text-align: left;
}


/* LEFT COLUMN MENU */
.course-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* INDEX.HTML CONTENT */
.subject {
  display: flex;
  flex-direction: column;
}

.subject-title {
  text-align: left;
  padding: 10px;
  margin: 0;
}

.subject-intro {
  display: flex;
}

.subject-content {
  display: flex;
  flex-direction: column;
}

#col-center p {
  text-align: justify;
  margin: 2%;
}

.subject-image {
  margin-left: auto;
  margin-right: auto;
}

.video {
  width: 300px;
  height: 225px;
  margin: 1% 2% 1% 2%;
}


/* STUDENT-LIST.HTML CONTENT */
#student-list {
  display: flex;
  flex-direction: column;
}

.name::before{
  content: "Nombre: ";
}

.surname::before{
  content: "Apellido: ";
}

.email::after{
  content: "@alumnos.uc3m.es";
}

.profile-pic {
  margin: 2%;
  float: left;
}


/* SUBJECT-FORUM.HTML CONTENT */
.forum-message {
  font-family: sans-serif;
  background-color: lightgray;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 49%;
  grid-gap: 1%;
  margin: 1%;
  padding: 1%;
}

.forum-message-info {
  font-family: sans-serif;
  background-color: lightgray;
  display: grid;
  align-items: center;
  grid-template-columns: 41% 31% 24%;
  grid-gap: 2%;
  padding: 1%;
}

.forum-message div {
  align-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message-count::after {
  content: " mensajes";
  white-space: pre;
}


/* STUDENT-GRADES.HTML CONTENT */
table {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: white;
}

th {
  background-color: lightgray;
  padding: 5px;
  text-align: center;
}

td {
  background-color: lightgray;
  padding: 5px;
  text-align: right;
}


/* DESKTOP */
@media screen and (min-width: 769px) {

  /* HEADER */
  #dropdown {
    display: none;
  }


  /* GENERAL COLUMN STUFF */
  #col-center {
    width: 50%;
    font-size: 1vw;
  }

  #col-left {
    width: 24.5%;
    font-size: 2vw;
  }

  #col-right {
    width: 24.5%;
  }

  #column-title-principal {
    font-size: 3vw;
  }


  /* LEFT COLUMN MENU */
  #tablet-options {
    display: none;
  }

  .course-menu {
    margin: 5%;
  }


  /* INDEX.HTML CONTENT */
  .subject-image {
    display: block;
    width: 20vw;
  }

  .video-tema {
    display: flex;
  }


  /* STUDENT-LIST.HTML CONTENT */
  .profile-pic {
    width: 12vw;
  }

  .message-pic {
    width: 2vw;
  }

  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-message div {
    font-size: 1.25vw;
  }

  /* STUDENT-GRADES.HTML CONTENT */
  table {
    font-size: 2vw;
  }
}

/* TABLET */
@media screen and (min-width: 601px) and (max-width: 768px) {

  /* HEADER */
  #dropdown {
    display: none;
  }

  #header-options {
    display: none;
  }


  /* GENERAL COLUMN STUFF */
  #col-right {
    display: none;
  }

  #col-left {
    width: 19.5%;
  }

  #col-center {
    width: 80%;
    font-size: 3vw;
  }

  #column-title-principal {
    font-size: 4.5vw;
  }

  #col-title-left{
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    margin: 1%;
  }

  /* LEFT COLUMN MENU */
  #tablet-options {
    display: block;
  }

  .course-menu {
    justify-content: space-between;
    margin: 5% 5% 10% 5%;
  }


  /* INDEX.HTML CONTENT */
  .subject-image {
    display: none;
  }

  .video {
    width: 300px;
    height: 225px;
  }

  .video-tema {
    display: block;
  }


  /* STUDENT-LIST.HTML CONTENT */
  .profile-pic {
    width: 20vw;
  }

  .message-pic {
    width: 4vw;
  }


  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-message div {
    font-size: 2vw;
  }


  /* STUDENT-GRADES.HTML CONTENT */
  table {
    font-size: 2vw;
  }
}


/*MOBILE*/
@media screen and (max-width: 600px){

  /* HEADER */
  #dropdown {
    display: inline;
  }

  #dropbtn {
    width: 50px;
    align-self: flex-start;
    margin-left: 5%;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  #dropdown-content a:hover {background-color: #f1f1f1;}

  #dropdown:hover #dropdown-content {
    display: block;
  }

  #header-options {
    display: none;
  }

  #page-logo {
    display: none;
  }

  #header {
    justify-content: normal;
  }


  /* GENERAL COLUMN STUFF */
  #col-right {
    display: none;
  }

  #col-left {
    display: none;
  }

  #col-center {
    width: 100%;
    font-size: 5vw;
  }

  #column-title-principal {
    font-size: 6vw;
  }


  /* INDEX.HTML CONTENT */
  .subject-intro p {
    display: none;
  }

  .subject-image {
    display: none;
  }


  /* STUDENT-LIST.HTML CONTENT */
  #student-list {
    font-size: 4vw;
  }

  .profile-pic {
    width: 25vw;
  }


  /* STUDENT-LIST.HTML CONTENT */
  .message-pic {
    width: 4vw;
  }


  /* SUBJECT-FORUM.HTML CONTENT */
  .forum-message {
    grid-template-columns: auto auto;
  }

  .forum-message-info {
    grid-column: 1 / 1;
  }


  /* STUDENT-GRADES.HTML CONTENT */
  table {
    font-size: 3vw;
  }
}
