#columns {
  display: grid;
  grid-template-columns: 24.5% 50% 24.5%;
  grid-gap: 0.5%;
  margin: 0.5%;
}

.column {
  background-color: #2196F3;
  padding: 20px 0;
  font-size: 30px;
}

.column h2 {
  text-align: center;
  margin: 1%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2196F3;
  margin: 0.5%;
}

#header-title {
  display: flex;
  margin-left: 0.5%;
  text-align: center;
}

#header-title a {
  display: flex;
  margin-left: 0.5%;
  align-items: center;
}

#header-options {
  display: flex;
  background-color: turquoise;
  margin-right: 0.5%;
}

#header-options div {
  padding: 10px;
}

.course-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5%;
}

.subject {
  display: flex;
  flex-direction: column;
}

.subject-title {
  text-align: left;
  padding: 10px;
}

.image {
  float: left;
  margin: 1%;
}

.video {
  float: left;
  margin: 1%;
}

#student-list {
  display: flex;
  flex-direction: column;
}

.forum-message {
  display: flex;
  background-color: cornsilk;
  margin: 1%;
}

.forum-message div {
  display: flex;
  align-content: center;
  margin: 1%;
}

.message-count::after {
  content: " mensajes";
  white-space: pre;
}

.name::before{
  content: "Nombre: ";
}

.surname::before{
  content: "Apellido: ";
}

.email::after{
  content: "@alumnos.uc3m.es";
}

table {
  margin: 0 auto;
}

th, td {
  padding: 15px;
}

td {
  text-align: right;
}

